:root {
    --f7-input-bg-color: transparent;
    --f7-label-font-weight: 400;
    --f7-label-line-height: 1.3;
    --f7-input-padding-left: 0px;
    --f7-input-padding-right: 0px;
    --f7-input-error-text-color: #ff3b30;
    --f7-input-error-font-size: 12px;
    --f7-input-error-line-height: 1.4;
    --f7-input-error-font-weight: 400;
    --f7-input-info-font-size: 12px;
    --f7-input-info-line-height: 1.4;
    --f7-input-outline-height: 40px;
    --f7-input-outline-border-radius: 4px;
    --f7-input-outline-padding-horizontal: 12px;
    --f7-textarea-height: 100px;
    /*
    --f7-input-outline-focused-border-color: var(--f7-theme-color);
    --f7-input-outline-invalid-border-color: var(--f7-input-error-text-color);
    */
    --f7-input-outline-border-color: #999;
  }
  :root .theme-dark,
  :root.theme-dark {
    --f7-input-outline-border-color: #444;
  }
  .ios {
    --f7-input-height: 44px;
    --f7-input-font-size: 17px;
    --f7-input-placeholder-color: #a9a9a9;
    --f7-textarea-padding-vertical: 11px;
    /*
    --f7-input-focused-border-color: var(--f7-list-item-border-color);
    --f7-input-invalid-border-color: var(--f7-list-item-border-color);
    --f7-input-invalid-text-color: var(--f7-input-error-text-color);
    */
    --f7-label-font-size: 12px;
    --f7-label-text-color: inherit;
    /*
    --f7-label-focused-text-color: var(--f7-label-text-color);
    --f7-label-invalid-text-color: var(--f7-label-text-color);
    */
    --f7-floating-label-scale: calc(17 / 12);
    --f7-inline-label-font-size: 17px;
    --f7-inline-label-line-height: 1.4;
    --f7-inline-label-padding-top: 3px;
    --f7-input-clear-button-size: 14px;
    --f7-input-text-color: #000000;
    --f7-input-info-text-color: rgba(0, 0, 0, 0.45);
    --f7-input-clear-button-color: rgba(0, 0, 0, 0.45);
  }
  .ios .theme-dark,
  .ios.theme-dark {
    --f7-input-text-color: #fff;
    --f7-input-info-text-color: rgba(255, 255, 255, 0.55);
    --f7-input-clear-button-color: rgba(255, 255, 255, 0.5);
  }
  .md {
    --f7-input-height: 36px;
    --f7-input-font-size: 16px;
    --f7-textarea-padding-vertical: 7px;
    
    --f7-input-focused-border-color: green;
    --f7-input-invalid-border-color: var(--f7-input-error-text-color);
    --f7-input-invalid-text-color: var(--f7-input-text-color);
   
    --f7-label-font-size: 12px;
    
    --f7-label-focused-text-color: var(--f7-theme-color);
    --f7-label-invalid-text-color: var(--f7-input-error-text-color );
   
    --f7-floating-label-scale: calc(16 / 12);
    --f7-inline-label-font-size: 16px;
    --f7-inline-label-line-height: 1.5;
    --f7-inline-label-padding-top: 7px;
    --f7-input-clear-button-size: 18px;
    --f7-input-clear-button-color: green;
    --f7-input-text-color: #212121;
    --f7-input-placeholder-color: rgba(0, 0, 0, 0.35);
    --f7-label-text-color: rgba(0, 0, 0, 0.65);
    --f7-input-info-text-color: rgba(0, 0, 0, 0.45);
  }
  .md .theme-dark,
  .md.theme-dark {
    --f7-input-text-color: rgba(255, 255, 255, 0.87);
    --f7-input-placeholder-color: rgba(255, 255, 255, 0.35);
    --f7-label-text-color: rgba(255, 255, 255, 0.54);
    --f7-input-info-text-color: rgba(255, 255, 255, 0.45);
  }
  .aurora {
    --f7-input-height: 24px;
    --f7-input-font-size: 13px;
    --f7-textarea-padding-vertical: 2px;
    /*
    --f7-input-focused-border-color: var(--f7-list-item-border-color);
    --f7-input-invalid-border-color: var(--f7-list-item-border-color);
    --f7-input-invalid-text-color: var(--f7-input-error-text-color);
    */
    --f7-label-font-size: 11px;
    --f7-label-text-color: inherit;
    /*
    --f7-label-focused-text-color: var(--f7-label-text-color);
    --f7-label-invalid-text-color: var(--f7-label-text-color);
    */
    --f7-floating-label-scale: calc(13 / 11);
    --f7-inline-label-font-size: 14px;
    --f7-inline-label-line-height: 1.4;
    --f7-inline-label-padding-top: 1px;
    --f7-input-clear-button-size: 14px;
    --f7-input-outline-height: 32px;
    --f7-input-outline-padding-horizontal: 8px;
    --f7-input-text-color: #000000;
    --f7-input-placeholder-color: green;
    --f7-input-clear-button-color: #666;
    --f7-input-info-text-color: rgba(0, 0, 0, 0.5);
  }
  .aurora .theme-dark,
  .aurora.theme-dark {
    --f7-input-text-color: #fff;
    --f7-input-clear-button-color: #aaa;
    --f7-input-placeholder-color: rgba(255, 255, 255, 0.35);
    --f7-input-info-text-color: rgba(255, 255, 255, 0.45);
  }


/* ------------------------------------------------------------------------------------------------------------------ */
#Logoinicial img{
    width: 80%;
    max-width: 400px;
    display: block;
    margin:auto;
}

h2{
    color: blue;
    text-align: center;
    background-color: salmon;
}

.parrafo.p {
    color: blue;
}

.page{
    background-image: linear-gradient(white, white);
}

/* Carrusel de imagenes */
.demo-swiper .swiper-slide {
    font-size: 35px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    color: #000;
  }
  .demo-swiper .swiper-slide {
    box-sizing: border-box;
    border: 2px solid #ffffff;
    background:white;
    
  }
  .demo-swiper {
    margin: 0px 0px 0px 0px;
    font-size: 18px;
    height: 280px;
    box-shadow: 0px 2px 4px 2px rgba(100,100,100,0.5);
  }
  .demo-swiper.demo-swiper-auto .swiper-slide {
    width: 85%;
  }
  .demo-swiper.demo-swiper-auto .swiper-slide:nth-child(2n) {
    width: 70%;
  }
  .demo-swiper.demo-swiper-auto .swiper-slide:nth-child(3n) {
    width: 30%;
  }

 /* Formulario */

 .registro .demo-swiper .swiper-slide {
    font-size: 35px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    color: #000;
  }
.registro .demo-swiper .swiper-slide {
    box-sizing: border-box;
    border: 2px solid #ffffff;
    background:white;
    
  }
.registro .demo-swiper {
    margin: 0px 0px 0px 0px;
    font-size: 18px;
    height: 580px;
    box-shadow: 0px 2px 4px 2px rgba(100,100,100,0.5);
  }
.registro .demo-swiper.demo-swiper-auto .swiper-slide {
    width: 85%;
  }
  .demo-swiper.demo-swiper-auto .swiper-slide:nth-child(2n) {
    width: 70%;
  }
  .demo-swiper.demo-swiper-auto .swiper-slide:nth-child(3n) {
    width: 30%;
  }

  label{
	display: block;
	font: 0.9rem 'Century Gothic';
}

input, label, select {
	margin: .5rem 4em;
}

form {
	display: block;
	padding-top: 30px;
}
  /* Botones */

  .btn_rcl{
    color: white;
    font-family: "Century Gothic";
    font-size: 18px ;
    font-weight: 600;
    padding: 5px;
    border-radius: 8px;
    background: #52a01f;
    box-shadow: 0px 2px 4px rgba(100,100,100,0.5);
    }

/* .inicial{
    color: rgba(0,0,0,0.8);
    font-family: "Century Gothic";
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    text-align: center;
    
  }
   */
  /* .inicial:hover{
      color: #52a01f;
      font-weight: 700;
    } */

    #boton2{
    color: rgba(0,0,0,0.8);
    font-family: "Century Gothic";
    font-size: 12px;
    font-weight: 700;
    line-height: 17px;
    text-align: center;
    margin-top: 17px;
    }

    #botones{
        margin: 30px 65px 40px 65px;
    }

    /* Footer de abajo/ Diseño */

    #pantallainicial{
        position: fixed;
        bottom: 0;
        z-index:999999;
        background: #b7ec3f;
        height: 20%;
        /*max-height: 180px;*/
        width: 100%;
    }

    /* Login */

    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }
    
    #logito img{
        width: 40%;
    /* max-width: 350px; */
    display: block;
    margin:auto;
    display: block;
    }    

    /* Login */
    #Correo{
        color: black;
        font-size: 18px;
        font-family: "Century Gothic";
    }

    #Contraseña{
        color: black;
        font-size: 18px;
        font-family: "Century Gothic";
    }

    .ingresar
    {
        border-radius: 8px;
        background: #94d500;
        color: black;
        box-shadow: 0px 2px 4px rgba(100,100,100,0.5);
        font-family: "Century Gothic";
        font-size: 18px;
        padding: 5px 15px 5px 15px;
        font-weight: 700;
        outline: none;
        
    }

    .boton
    {
        margin: 20px 70px 20px 70px;
    }

    #recuperacion{
        color: black;
        font-style: italic;
        font-size: 13px;

    }

    /* Elección de tipo de registro */

    .registro .hojita{
        width: 20%;
        max-width: 130px;
    
    }
    
    .registro #leyenda{
        position: relative;
        top: 35px;
        
    }
    
    .registro h1{
        text-align: center;
        font-family: "Century Gothic";
        font-size: 5vw;
        font-weight: 700;
        line-height: 20px;
    }
    
    .registro h2{
        text-align: center;
        font-family: "Century Gothic";
        font-size: 2vw;
        font-weight: 700;
        line-height: 20px;
        background-color: white ;
        color: black;
    }
    
    
    .registro .posicioncentral{
        
       position: absolute;
        top: 265px; left: 20%;
        width: 20%;
        height: 10vw;
    }
    
    
    
    .registro .button{
        background-color: #b7ec3f; 
        box-shadow: 0px 2px 4px rgba(100,100,100,0.5);
        color: white
        padding: 20px;
        text-align: center;
        text-decoration: none;
        margin:10px 2px;
        border-radius: 100%;
        
    }
    
    .registro img{
        width: 100%;
    }
    
    .registro .posicioncentral2{
        
        position: absolute;
        top: 265px; left: 60%;
        width: 20%;
        height: 10vw;
    }
    
    @media screen and (max-width:500px){
        .registro .posicioncentral {
            top: 30%; left: 35%;
            width: 20%;
        }
    
    
        .registro .posicioncentral2 {
            top: 60%; left: 35%;
            width: 40%;
        }
    
    
        .registro h1{
            font-size: 20px;
        }
    
        .registro h2{
            font-size: 15px; }
    }
    
    
    
    